<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Cierre de Mesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngClass]="misClases">
  <!-- Pedidos -->
  <ion-card *ngIf="this.pedidos.length> 0" class="ion-card-style">
    <ion-card-content>
      <div *ngFor="let pedido of this.pedidos">
        <div class="width-100 align-text-center big-letter" >
          <label class="bolded" style="color: black;">
            Mesa {{pedido.mesa}}
          </label><br>
          <div>
            <label class="label-entrega">
                Cliente : {{pedido.cliente}}
              </label><br>
              <label class="label-entrega">
                Fecha : {{pedido.fecha | date:'dd/MM/yyyy'}}
              </label><br>
              <label class="label-entrega">
                  Hora : {{pedido.fecha | date:'HH:mm'}}
              </label>
          </div>
      </div>
        <div class="width-100 center-horizontal center-vertical">
          <ion-button class="botones-registro"
            (click)="this.verPedido(pedido.key)">
            Ver pedido
          </ion-button>
        </div>

        <div class="width-100 center-horizontal center-vertical">
          <ion-button class="botones-registro"
          (click)="cerrarPedido(pedido)">Cerrar Mesa</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- En caso de no existir pedidos -->
  <ion-card class="ion-card-style"
    *ngIf="this.pedidos.length == 0">
    <ion-card-content class="texto-card">
      No hay mesas para cerrar.<br>
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
