
.selecter
{
    text-align: center;
    font-weight: bold;
}

.imagen-alta {
  height: 9rem;
  max-height: 9rem !important;
  min-height: 9rem;
  width: 9rem;
  max-width: 9rem !important;
  min-width: 9rem;
  object-fit: cover;
  border-radius: 20% !important;
  padding: 5px;
  background-color: whitesmoke;
}
