<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      Entregar Pedidos <!-- Mozo -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pedidos -->
  <ion-card class="ion-card-style" *ngIf="this.pedidos.length> 0">
    <ion-card-content>
      <div class="ion-no-padding transparent-item flex-v" *ngFor="let pedido of
        pedidos">
        <div class="width-100 align-text-center big-letter" style="background: whitesmoke;">
          <label class="bolded" >
          Mesa {{pedido.mesa}}
        </label><br>
        <div>
          <label class="label-entrega">
              Cliente : {{pedido.cliente}}
            </label><br>
            <label class="label-entrega">
              Fecha : {{pedido.fecha | date:'dd/MM/yyyy'}}
            </label><br>
            <label class="label-entrega">
                Hora : {{pedido.fecha | date:'HH:mm'}}
            </label>
          </div>
        </div>

        <div class="width-100 center-horizontal center-vertical" style="background: whitesmoke;">
          <ion-button class="botones-registro"
            (click)="this.verPedido(pedido.key)">
            Ver pedido completo
          </ion-button>
        </div>

        <div class="width-100 center-horizontal center-vertical" style="background: whitesmoke;">
          <ion-button (click)="confirmarEntrega(pedido.key)" class="botones-registro">Confirmar</ion-button>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- En caso de no existir pedidos -->
  <ion-card class="ion-card-style" *ngIf="this.pedidos.length == 0">
    <ion-card-content class="texto-card">
      No hay pedidos a entregar.<br>
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
