<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Entregar Pedidos <!-- Mozo -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pedidos -->
  <ion-card style="background-color:rgba(255, 255, 255, 0.8);text-align: center;" *ngIf="this.pedidos.length> 0">
    <ion-card-content>
      <div class="ion-no-padding transparent-item flex-v" *ngFor="let pedido of
        pedidos">
        <div class="width-100 align-text-center big-letter" style="background: rgba(255, 255, 255, 0.75);">
          <label class="bolded">
          Mesa {{pedido.mesa}}
        </label>
        </div>

        <div class="width-100 center-horizontal center-vertical" style="background: rgba(255, 255, 255, 0.6);">
          <ion-button class="button_XXS_empty"
            (click)="this.verPedido(pedido.key)">
            Ver
          </ion-button>
        </div>

        <div class="width-100 center-horizontal center-vertical" style="background: rgba(255, 255, 255, 0.6);">
          <ion-button (click)="confirmarEntrega(pedido.key)" class="button_XXS_empty_gr">Confirmar</ion-button>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- En caso de no existir pedidos -->
  <ion-card class="card-background"
    *ngIf="this.pedidos.length == 0">
    <ion-card-content>
      Aún no existen pedidos a entregar.
    </ion-card-content>
  </ion-card>
</ion-content>
