<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons  slot="start">
      <ion-button color="dark" (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="superior">
    <ion-item class="item2">
      <ion-label class="label-verde">Intentos:</ion-label>
      <ion-input readonly [value]="intentos"></ion-input>
    </ion-item>
    <!-- <label>Intentos:</label>
    <input type="text" name="" value="{{intentos}}"> -->
    <div class="contenedor" (click)="verificar('unoUno', 'bluetooth')">
      <ion-icon class="icon" *ngIf="unoUno" name="bluetooth"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('dosUno', 'aperture')">
      <ion-icon class="icon" *ngIf="dosUno" name="aperture"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('tresUno', 'at')">
      <ion-icon class="icon" *ngIf="tresUno" name="at"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('cuatroUno', 'subway')">
      <ion-icon class="icon" *ngIf="cuatroUno" name="subway"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('unoDos', 'bluetooth')">
      <ion-icon class="icon" *ngIf="unoDos" name="bluetooth"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('dosDos', 'aperture')">
      <ion-icon class="icon" *ngIf="dosDos" name="aperture"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('tresDos', 'subway')">
      <ion-icon class="icon" *ngIf="tresDos" name="subway"></ion-icon>
    </div>
    <div class="contenedor" (click)="verificar('cuatroDos', 'at')">
      <ion-icon class="icon" *ngIf="cuatroDos" name="at"></ion-icon>
    </div>
  </div>


</ion-content>
