<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      <ion-icon name="qr-scanner"></ion-icon> Mesa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-vertical center-horizontal width-100 height-100"
    *ngIf="this.mesaAMostrar == null">
    <div (click)="doScan()" class="flex-v border center-vertical">
      <img class="qr-img" src="assets/img/QR_code_Wikipedia.svg">
      <span class="qr-text">Escanear</span>
    </div>
  </div>
  <div class="center-vertical center-horizontal width-100 height-100"
    *ngIf="this.mesaAMostrar != null">
    <ion-card style="background-color:whitesmoke; border-radius: 50px;" >
      <ion-card-content>
        <ion-item class="ion-no-padding item2">
          <ion-label class="label-verde" class="ion-text-center" style="font-weight: bold;">Mesa</ion-label>
          <ion-input style="font-weight: bold;" readonly [value]="this.mesaAMostrar.nromesa"></ion-input>
        </ion-item>

        <div *ngIf="this.mesaAMostrar.pedidoActual == ''"
          class="width-100 center-horizontal center-vertical">
          <ion-button class="boton-realizar" routerLink="/generar-pedido">
            <ion-icon name="create"></ion-icon>
            Realizar Pedido
          </ion-button>
        </div>

        <div class="width-100 center-horizontal flex-v"
          *ngIf="this.mesaAMostrar.pedidoActual != ''">
          <ion-button class="boton-realizar" (click)="this.verPedido(this.mesaAMostrar.pedidoActual)">
            Ver Pedido
          </ion-button>
          <ion-button class="boton-realizar"
            (click)="this.verEncuesta(this.mesaAMostrar.pedidoActual)">
            Realizar Encuesta
          </ion-button>
          <!-- <ion-button class="boton-realizar" routerLink="/juegos">
            Ir a Juegos
          </ion-button> -->
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
