.button1
{
    --background: url('/assets/img/btn_empty.png') 0 0/100% 100% no-repeat !important;
    height: 3rem;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}