
.button_listo{
    color: black;
    --border-radius: 80px;
    width: 130px;
    height: 40px;
    --border-color: #339933;
    --border-width: 1px;
    --border-style:  solid ;
    --background: #dbf0dc !important;
    --background-activated:#339933;
    --border-color:#339933;
    --background-hover:#339933;
    --background-focused: #339933;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;
    margin-top: 15px;
    font-size: 15px;
  }
.button_preparar{
    color: black;
    --border-radius: 80px;
    width: 120px;
    height: 40px;
    --border-color: #605bbb;
    --border-width: 1px;
    --border-style:  solid ;
    --background: #afaebb !important;
    --background-activated:#605bbb;
    --border-color:#605bbb;
    --background-hover:#605bbb;
    --background-focused: #605bbb;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: unset;
    font-size: 15px;
    padding: 0;
  }
  .item2
{
    --background: transparent;
    color: rgb(0, 0, 0);
    width: 95%;
    text-align: left;
    --border-width: 0 0 1.5px 0 ;
    --border-color: #43a047;
    margin-left: auto;
    margin-right: auto;
    ion-input{
        text-align: center;
        font-size: 18px;
    }
}
.label-verde{
    color:#43a047;
    font-size: 18px;
    font-weight: bold;
}
.label-negro{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.item-titulo
{
    --background: transparent;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    //--border-width: 0 0 1.5px 0 ;
    //--border-color: #43a047;
    margin-left: auto;
    margin-right: auto;
    ion-input{
        text-align: left;
        font-size: 20px;
        margin-left: 10px;
    }
}


.cardType_1
{
    background-color: whitesmoke;
    border-radius: 20px;
}

.cardType_2
{
    background-color:#f0efc6;
    border-radius: 20px;
}

.cardType_3
{
    background-color:#c2e5c3;
    border-radius: 20px;
}
