<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pedidos pendientes <!-- Bartenders, etc -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let d of this.pedidoDetalle">
    <ion-card [ngClass]="{ 'cardType_1': (d.estado == 'aceptado') ,
      'cardType_2': (d.estado == 'preparacion'), 'cardType_3': (d.estado ==
      'listoEntrega')}">
      <ion-item class="itemc">
        <ion-label position="floating">Cantidad</ion-label>
        <br>
        <ion-input class="mark1" readonly [value]="d.cantidad"></ion-input>
        <br>
        <ion-label position="floating">Producto</ion-label>
        <br>
        <ion-input class="mark1" readonly [value]="d.producto"></ion-input>
        <br>
        <ion-label position="floating">Estado</ion-label>
        <br>
        <ion-input class="mark1" readonly [value]="d.estado"></ion-input>
        <br>
        <div class="width-100 align-between">
          <!-- <ion-button color="primary"
          (click)="this.cambiarEstado(d, 'aceptado')">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button> -->
          <ion-button class="button_preparar"
            [disabled]="d.estado != 'aceptado'"
            (click)="this.cambiarEstado(d, 'preparacion')">
            <!-- <ion-icon slot="start" name="play">Preparar</ion-icon> -->
          </ion-button>
          <ion-button class="button_listo"
            [disabled]="d.estado != 'preparacion'"
            (click)="this.presentAlertConfirmarEntrega(d, 'listoEntrega')">
            <!-- <ion-icon slot="start" name="checkmark">Entregar</ion-icon> -->
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
