.button_preparar
{
    --background: #605bbb;
    //--background: url('/assets/img/button_XXS_play.png') 0 0/100% 100% no-repeat !important;
    height: 27px;
    width: 40px;
    //background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.button_listo
{
    --background: #61bd65;
    //--background: url('/assets/img/button_XXS_tilde.png') 0 0/100% 100% no-repeat !important;
    height: 27px;
    width: 40px;
    //background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.itemc
{
    --background: transparent;
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

.mark1
{
    --background: #f0f0dc;
}

.cardType_1
{
    background-color:#ebf7ec;
}

.cardType_2
{
    background-color:#ddf1de;
}

.cardType_3
{
    background-color:#c2e5c3;
}
