.button1
{
    //--background: url('/assets/img/btn_empty.png') 0 0/100% 100% no-repeat !important;
    --background: #d0ebd1;
    height: 3rem;
    width: 100%;
    //background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.button2
{
    //--background: url('/assets/img/btn_empty2.png') 0 0/100% 100% no-repeat !important;
    height: 3rem;
    width: 100%;
    //background-color: transparent;
    --background: #61bd65;
    padding: 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

// .item2
// {
//     --background: whitesmoke;
//     font-weight: bold;
//     color: rgb(0, 0, 0);
//     width: 100%;
// }
.label-verde{
    color:#43a047;
    
}
.font-big{
    font-size: 26px;
}
.font-large{
    font-size: large;
}
.item2
{
    --background: transparent;
    //font-weight: bold;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    --border-width: 0 0 2px 0 ;
    --border-color: #43a047;
    margin-left: auto;
    margin-right: auto;
}