/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  // margin: 0 auto;
  // width: 100%;
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  // --background:#edf7ee;
}

body {
  font-size: var(--ion-font-size) !important;
}

ion-title {
  text-align: center;
  color:#000000;
}


// Fuerza a los elementos a acomodarse de forma vertical (v) u horizontal (h)
.flex {
  &-v {
    display: flex;
    flex-direction: column;
  }
  &-h {
    display: flex;
    flex-direction: row;
  }
}

// Hacer que los ion-item de los formularios tengan fondo transparente
.transparent-item {
  // --background: transparent !important;
}

.margin-top {
  &-5{
    margin-top: 5px;
  }
  &-7{
    margin-top: 7px;
  }
  &-9{
    margin-top: 9px;
  }
  &-11{
    margin-top: 11px;
  }
  &-15{
    margin-top: 15px;
  }
  &-20{
    margin-top: 20px;
  }

}
// Ajusta el alto de un elemento
.height {
  &-10 {
    height: 10%;
  }
  &-20 {
    height: 20%;
  }
  &-30 {
    height: 30%;
  }
  &-40 {
    height: 40%;
  }
  &-50 {
    height: 50%;
  }
  &-60 {
    height: 60%;
  }
  &-70 {
    height: 70%;
  }
  &-80 {
    height: 80%;
  }
  &-90 {
    height: 90%;
  }
  &-100 {
    height: 100%;
  }
}

// Ajusta el ancho de un elemento
.width {
  &-10 {
    width: 10%;
  }
  &-20 {
    width: 20%;
  }
  &-30 {
    width: 30%;
  }
  &-40 {
    width: 40%;
  }
  &-50 {
    width: 50%;
  }
  &-60 {
    width: 60%;
  }
  &-70 {
    width: 70%;
  }
  &-80 {
    width: 80%;
  }
  &-90 {
    width: 90%;
  }
  &-100 {
    width: 100%;
  }
}

// Centra lo objetos acomodandolos equitativamente

.align-espaciado {
  display: flex;
  justify-content: space-evenly;
}
// Centra los objetos dentro de este elemento de forma horizontal
.center-horizontal {
  display: flex;
  justify-content: center;
}


// Centra los objetos dentro de este elemento de forma vertical
.center-vertical {
  display: flex;
  align-items: center;
}

// Agrega un margen inferior extra arriba de elemento
.extra-bottom {
  margin-bottom: 0.5rem;
}

// Crea el marco para las fotos de perfil en el alta de mesas y producto (puede reusarse)
.profile-picture {
  height: 9rem;
  max-height: 9rem !important;
  min-height: 9rem;
  width: 9rem;
  max-width: 9rem !important;
  min-width: 9rem;
  object-fit: cover;
  border-radius: 100% !important;
  margin-bottom: 5px;
}

// Ajusta el texto dentro de un elemento
.align-text-center {
  text-align: center;
}

.big-letter {
  font-size: 1.5rem;
}

// Para el botón de los qr
// Maneja el css de la imagen
.qr-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// Maneja el texto de la imagen
.qr-text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

// Le da un border y un estilo al botón
// SOLO SE USA EN los dos botones de QR
.border {
  background-color: var(--ion-color-whitesmoke);
  padding: 1rem 1.5rem;
  text-align: center;
  border-color: var(--ion-border-color);
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  box-shadow: 0px 0px 51px -3px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 51px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 51px -3px rgba(0,0,0,1);
}

.border:active {
  box-shadow: 0 0.25px var(--ion-border-color);
  transform: translateY(4px);
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.card-background {
  --background: var(--ion-color-whitesmoke);
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.texto-card{
  text-align: center;
  // color: #000000;
  color: var(--ion-color-dark);
  font-size: 25px;
}

.ion-card-style {
  background-color:var(--ion-color-whitesmoke);
  border-radius: 20px;
}



ion-alert.seleccionarAlert{
  --background:#edf7ee !important;
  text-align: left;
  // color: #000000;
  color: var(--ion-color-dark);
  --width: 120%;
  font-size: 20px;

  // .alert-message{
  //   font-size:20px;
  //   color:#000000;
  // }
  .alert-button-group{
    color: #000000!important;
    background-color: #43a047;//Verde

  }
  .alert-button{
    background-color: #edf7ee;//Blanco
    // color: #000000;
    color: var(--ion-color-dark);
    margin-right: 3px;
  }
  .button-Ok{
    // background-color: #edf7ee;
    // padding: 15px;
    // color: #000000;
    color: var(--ion-color-dark);
    margin-left: auto;
    font-size:16px;

  }
  .button-Cancel{
    // background-color: #edf7ee;
    // padding: 15px;
    // color: #000000;
    color: var(--ion-color-dark);
    font-size:16px;
  }
}

//Alert Avisos
ion-alert.avisoAlert{

  .alert-button-group{
    color: #000000!important;
    background-color: #43a047;
    justify-content: center;
    padding: 6px 6px 6px 18px;

  }
  .alert-button{
    background-color: #edf7ee;
    padding: 15px;
    // color: #000000;
    color: var(--ion-color-dark);
    margin: auto;

  }
  .alert-message{
    color: #000000 !important;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    align-items: center;
    background-color: #edf7ee;
  }
}
// #133813 -> Color de letras y border, cambio por uno mas claro
.titulo-header{
  // Verde
  // color: var(--ion-border-color);
  color: var(--ion-color-dark);
  text-align: center;
}

// NO TOCAR POR ESTILOS DINAMICOS
.inputs{
  border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  -webkit-border-radius: 80px 80px 80px 80px;
  border: 3px solid var(--ion-border-color);
  // --background: transparent !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 85%;
  height: 70px;
  margin-bottom: 15px;
  // color: #000000;
  color: var(--ion-color-light);
  --highlight-height:0px;
  --border-width:0px;
  --padding-bottom:1px;
  // ion-input{
  //   font-size: 18px;
  // }
}
// NO TOCAR POR ESTILOS DINAMICOS

.seleccionar-usuario{
  // color: #000000;
  color: var(--ion-color-light);
  --border-radius: 80px;
  width: 250px;
  height: 60px;
  // --background: transparent !important;
  --border-color:var(--ion-border-color);
  // --background-hover:#339933;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 15px;
}

.botones-registro{
  // color: #000000;
  color: var(--ion-color-dark);
  --border-radius: 80px;
  width: 200px;
  height: 50px;
  --border-width: 1px;
  --border-style:  solid ;
  --border-color:var(--ion-border-color);
  --background: #edf7ee !important;
  // --background: #dbf0dc !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: unset;
  font-size: medium;
}

.botonesRojo{
  // color: #000000;
  color: var(--ion-color-dark);
  --border-radius: 80px;
  width: 200px;
  height: 50px;
  --border-color: #a04743;
  --border-width: 1px;
  --border-style:  solid ;
  --background: #f5d5d4 !important;
  --background-activated:#a04743;
  --border-color:#a04743;
  --background-hover:#a04743;

  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: unset;;
  font-size: medium;
}

.toast-noti{
  --height: 110px;
  color:  #ffffff !important;
  --color:  #ffffff !important;
  --border-color: #ffffff;
  --border-style: solid;
  --border-width: 5px;
  --border-radius: 40px 40px 40px 40px;
  --box-shadow:  10px 10px 40px 0px rgba(69,40,69,0.81);
  --button-color: #ffffff;
  }

ion-toast{
  // color: #000000;
  // --color:#000000!important;
  color: var(--ion-color-dark);
  --color: var(--ion-color-dark);
  --button-color:#000000;
  --height: 80px;
  font-size: 20px;
  --background: var(--ion-border-color);
}

.label-verde{
  color:#43a047;
  font-size: 18px;
}

.label-entrega{
  font-size:20px;
  // color: #000000;
  color: var(--ion-color-dark);
  border-bottom:1px solid #61bd65;
}

//Para el spinner
.spinner {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  animation: lds-hourglass 1.2s infinite;//sk-rotateplane 1.2s infinite ease-in-out;
}

.cajaSpinner{
  --background:var(--ion-color-whitesmoke);
  // color:#000000;
  color: var(--ion-color-dark);
}

.lds-hourglass {
  display:inline-block ;
  position: relative;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #43a047;//fff
  // border-color: #43a047 transparent #43a047 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.botones{
  // color: #339933;
  color: var(--ion-color-dark);
  --border-radius: 80px;
  width: 300px;
  height: 60px;
  --border-color: var(--ion-border-color);
  --border-width: 1px;
  --border-style:  solid ;
  // --background: #dbf0dc !important;
  --background: #edf7ee !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: unset;
  font-size: large;
}

.botones-grandes{
  // color: #339933;
  color: var(--ion-color-dark);
  --border-radius: 80px;
  width: 100%;
  height: 50%;
  --border-color: var(--ion-border-color);
  --border-width: 1px;
  --border-style:  solid ;
  // --background: #dbf0dc !important;
  --background: #edf7ee !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: unset;
  font-size: x-large;
}

ion-input {
  --font-size: 1em;
  --padding-bottom:1px;
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------

.argentina {
  .botones{
    color: var(--ion-color-light);
    width: var(--ion-btn-width) !important;
    background: var(--ion-color-medium) !important;
    border-radius: var(--ion-brdr-radius);
    border-color: var(--ion-color-dark-contrast);
    border-width: 1px;
    border-style:  solid;
    // --height: 60px;
    --height: var(--ion-btn-heigth);
    --border-radius: var(--ion-brdr-radius);
    --background: var(--ion-color-medium) !important;
    --box-shadow: white;
    --color-activated: var(--ion-color-medium) !important;
    --ripple-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;
    font-size: large;
  }
}

.profesional {
  .botones {
    color: var(--ion-color-dark);
    width: var(--ion-btn-width) !important;
    background: var(--ion-color-medium) !important;
    --background: var(--ion-color-medium) !important;
    --box-shadow: white;
    --color-activated: var(--ion-color-medium) !important;
    --ripple-color: transparent;
    border-radius: var(--ion-brdr-radius);
    --border-radius: var(--ion-brdr-radius);
    --height: var(--ion-btn-heigth);
    border-color: var(--ion-color-dark-contrast);
    border-width: 1px;
    border-style:  solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;
    font-size: large;
  }
}

.naif {
  .botones{
    color: var(--ion-color-dark);
    width: var(--ion-btn-width) !important;
    --height: var(--ion-btn-heigth);
    background: var(--ion-color-medium) !important;
    --background: var(--ion-color-medium) !important;
    --box-shadow: white;
    --color-activated: var(--ion-color-medium) !important;
    --ripple-color: transparent;
    border-radius: var(--ion-brdr-radius);
    --border-radius: var(--ion-brdr-radius);
    border-width: 1px;
    border-color: var(--ion-color-dark-contrast);
    border-style:  solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;
    font-size: large;
  }

}

.custom {

  .botones{
    width: var(--ion-btn-width) !important;
    background: var(--ion-color-medium) !important;
    border-radius: var(--ion-brdr-radius);
    border-color: var(--ion-color-dark-contrast);
    border-width: 1px;
    border-style:  solid;
    --height: var(--ion-btn-heigth);
    --border-radius: var(--ion-brdr-radius);
    --background: var(--ion-color-medium) !important;
    --box-shadow: white;
    --color-activated: var(--ion-color-medium) !important;
    --ripple-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;
    font-size: large;
  }
}

.img-argentina {
  // background: url("../assets/argentina.jpg") no-repeat center/cover fixed !important;
  --background: var(--ion-img-toolbar) no-repeat center/cover fixed !important;
}

.img-profesional {
  // background: url("../assets/argentina.jpg") no-repeat center/cover fixed !important;
  --background: var(--ion-img-toolbar) no-repeat center/cover fixed !important;
}

.img-none {
  --background-image: none;
}

ion-toolbar {
  // --background: var(--ion-img-toolbar) no-repeat center/cover fixed !important;
  color: var(--ion-text-color);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.input-colores{
  width: 65%;
  color: black !important;
  --background: var(--ion-color-medium) !important;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  --highlight-height:0px;
  --border-width:0px;
  --padding-bottom:1px;
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------


// .align-between {
//   display: flex;
//   justify-content: space-evenly;
// }
//
// .center-vertical {
//   vertical-align: middle;
//   border: 1px solid red;
// }
//
// ion-card {
//   background-color: var(--ion-color-whitesmoke);
//
// }
// .ion-card-50 {
//   border-radius: 50px !important;
//   width: 90%;
//   --background:var(--ion-color-whitesmoke);
// }

// ion-alert .alert-head{
//   color: #000000!important;
//   background-color: #43a047;
//   text-align: center;
// }

// ion-alert.alert-radio-inner{
//   background-color: #43a047;
// }

// ion-alert.alert-message{
//   color:#000000;
//   text-align: center;
//   margin-top: 5px;
//   font-size: 20px;
// }

// .ingresar{
//   color: #000000;
//   --border-radius: 80px;
//   width: 150px;
//   height: 50px;
//   --background: transparent !important;
//   --border-color:#339933;
//   --background-hover:#339933;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: center;
//   margin-bottom: 15px;
// }
