/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  // --background: url('./assets/fondos/fondo.png');
  // --background: linear-gradient(#3f3f3f 60%, #4ce000) !important;
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --background: url('/assets/img/regback.png') 0 0/100% 100% no-repeat !important;
}

//Splash
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#3f3f3f 60%, #4ce000);
}

.spinner-landscape {
  width: 100vw;
  height: 100vw;
}

.spinner {
  width: 60px;
  height: 60px;
  //background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

// Fuerza a los elementos a acomodarse de forma vertical (v) u horizontal (h)
.flex {
  &-v {
    display: flex;
    flex-direction: column;
  }
  &-h {
    display: flex;
    flex-direction: row;
  }
}

// Hacer que los ion-item de los formularios tengan fondo transparente
.transparent-item {
  --background: transparent !important;
}

// Ajusta el alto de un elemento
.height {
  &-10 {
    height: 10%;
  }
  &-20 {
    height: 20%;
  }
  &-30 {
    height: 30%;
  }
  &-40 {
    height: 40%;
  }
  &-50 {
    height: 50%;
  }
  &-60 {
    height: 60%;
  }
  &-70 {
    height: 70%;
  }
  &-80 {
    height: 80%;
  }
  &-90 {
    height: 90%;
  }
  &-100 {
    height: 100%;
  }
}

// Ajusta el ancho de un elemento
.width {
  &-10 {
    width: 10%;
  }
  &-20 {
    width: 20%;
  }
  &-30 {
    width: 30%;
  }
  &-40 {
    width: 40%;
  }
  &-50 {
    width: 50%;
  }
  &-60 {
    width: 60%;
  }
  &-70 {
    width: 70%;
  }
  &-80 {
    width: 80%;
  }
  &-90 {
    width: 90%;
  }
  &-100 {
    width: 100%;
  }
}

// Centra lo objetos acomodandolos equitativamente
.align-between {
  display: flex;
  justify-content: space-evenly;
}

// Centra los objetos dentro de este elemento de forma horizontal
.center-horizontal {
  display: flex;
  justify-content: center;
}

// Centra los objetos dentro de este elemento de forma vertical
.center-vertical {
  display: flex;
  align-items: center;
}

// Agrega un margen superior extra arriba de elemento
.extra-top {
  margin-top: 0.5rem;
}

// Agrega un margen inferior extra arriba de elemento
.extra-bottom {
  margin-bottom: 0.5rem;
}

// Agrega un borde negro alrededor del elemento (solo para testeo)
.black-border {
  border: 1px black solid;
}

// Crea el marco para las fotos de perfil en el alta de mesas y producto (puede reusarse)
.profile-picture {
  height: 7rem;
  max-height: 7rem !important;
  min-height: 7rem;
  width: 7rem;
  max-width: 7rem !important;
  min-width: 7rem;
  object-fit: cover;
  border-radius: 100% !important;
}

// Ajusta el texto dentro de un elemento
.align-text-center {
  text-align: center;
}

.big-letter {
  font-size: 1.5rem;
}

// Para el botón de los qr
// Maneja el css de la imagen
.qr-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// Maneja el texto de la imagen
.qr-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

// Le da un border y un estilo al botón
.border {
  background-color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1.5rem #999;
}

.border:active {
  box-shadow: 0 0.25px #666;
  transform: translateY(4px);
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.card-background {
  --background: white;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
