<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      Confirmar Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div *ngIf="this.clientes.length> 0" >
    <div *ngFor="let cliente of clientes">

      <ion-card  class="ion-card-style">
        <ion-card-content>
          <div class="width-100 center-vertical center-horizontal extra-bottom">
            <!-- Hacer placeholder para foto -->
            <div *ngIf="cliente.foto != ''">
              <img class="profile-picture" [src]="cliente.foto" />
            </div>
            <div *ngIf="cliente.foto == ''">
              <img class="profile-picture" src="assets/img/usuario.png" />
            </div>
          </div>

          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Nombre</ion-label>
            <ion-input [value]="cliente.nombre | titlecase" readonly></ion-input>
          </ion-item>

          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Apellido</ion-label>
            <ion-input [value]="cliente.apellido | titlecase" readonly></ion-input>
          </ion-item>

          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">DNI</ion-label>
            <ion-input [value]="cliente.DNI" readonly></ion-input>
          </ion-item>

          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Correo</ion-label>
            <ion-input [value]="cliente.correo" readonly></ion-input>
          </ion-item>

          <!-- <ion-item class="item2"> -->
          <div class="width-100 center-horizontal" style="background:whitesmoke;">
            <br>
            <ion-button class="boton-confirmar"
              (click)="this.confirmarCliente(cliente, cliente.key)">
              <ion-icon style="color:black" slot="icon-only" name="checkmark"></ion-icon>
              Confirmar
            </ion-button>
            <ion-button class="boton-denegar"
              (click)="this.rechazarCliente(cliente, cliente.key)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
              Denegar
            </ion-button>
          </div>
          <!-- </ion-item> -->
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-card *ngIf="this.clientes.length == 0" class="ion-card-style">
    <ion-card-content class="texto-card">
      No hay clientes en la lista.
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon><br>
    </ion-card-content>
  </ion-card>
</ion-content>
