<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Alta de Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- ABM Producto -->
<ion-content class="background-image ion-padding">

  <ion-card class="card-background" style="background-color:rgba(255, 255, 255, 0.8);">
    <form [(formGroup)]="this.formMesas" (submit)="this.agregarMesas()"
      class="height-100">
      <!-- Preview de las fotos -->
      <div class="center-vertical center-horizontal transparent-item width-100">
        <!-- Hacer placeholder para foto de producto -->
        <img class="profile-picture" *ngIf="this.fotos.length == 0"
          src="assets/img/add_user.png">
        <div *ngFor="let foto of this.fotos">
          <img class="profile-picture" [src]="foto" />
        </div>
      </div>

      <ion-item class="itemc">
        <ion-label position="floating">Nombre</ion-label>
        <br>
        <ion-input class="inputhis" formControlName="nombreCtrl" type="text"></ion-input>
      </ion-item>

      <ion-item class="itemc">
        <ion-label position="floating">Descripción</ion-label>
        <br>
        <ion-input class="inputhis" formControlName="descCtrl" type="text"></ion-input>
      </ion-item>

      <ion-item class="itemc">
        <ion-label position="floating">Tiempo</ion-label>
        <br>
        <ion-input  class="inputhis"formControlName="tiempoCtrl" type="number"></ion-input>
      </ion-item>

      <ion-item class="itemc">
        <ion-label position="floating">Precio</ion-label>
        <br>
        <ion-input class="inputhis" formControlName="precioCtrl" type="number"></ion-input>
      </ion-item>

      <ion-item class="itemc">
          <ion-label position="floating">Perfil de Visualización</ion-label>
          <br>
          <ion-select  class="selecter" formControlName="quienPuedeverCtrl">
          <!-- <ion-select-option value="mozo">Mozo</ion-select-option> -->
            <ion-select-option value="bartender">Bartender</ion-select-option>
            <ion-select-option value="candybar">Candybar</ion-select-option>
            <ion-select-option value="camarero">Cocinero</ion-select-option>
        </ion-select>
      </ion-item >

      <div class="align-text-center">
        <ion-button class="button1" [disabled]="this.fotos.length >= 3"
          (click)="this.tomarFoto()">
          Subir foto
        </ion-button>
        <ion-button class="button1" type="submit" expand="full">
          Agregar
        </ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>