<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      Lista de Espera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.esMozo" padding [ngClass]="misClases">
  <div *ngIf="this.clientes.length> 0">
    <ion-card  class="ion-card-style">
      <ion-card-content>
        <div *ngFor="let cliente of clientes">

          <ion-item class="item2">
            <ion-label class="label-verde">Correo</ion-label>
            <ion-input [value]="cliente.correo" readonly></ion-input>
          </ion-item>

          <ion-item class="item2">
            <ion-label class="label-verde">Perfil</ion-label>
            <ion-input *ngIf="cliente.perfil=='clienteAnonimo'" value="Cliente Anónimo" readonly></ion-input>
            <ion-input *ngIf="cliente.perfil=='cliente'" value="Cliente" readonly></ion-input>
            <ion-input *ngIf="cliente.perfil=='empleado'" value="Empleado" readonly></ion-input>
          </ion-item>

          <div class="width-100 center-horizontal center-vertical" style="background: whitesmoke;">
            <ion-button class="boton-info"
              (click)="this.mostrarCliente(cliente)">
              <ion-icon name="add"></ion-icon>Información
            </ion-button>
          </div>
          <div class="width-100  align-espaciado" style="background: whitesmoke;">
            <ion-button class="boton-confirmar"
              (click)="this.confirmarCliente(cliente.correo)">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>Asignar
            </ion-button>
            <ion-button class="boton-denegar"
              (click)="this.rechazarCliente(cliente.correo)">
              <ion-icon slot="icon-only" name="close"></ion-icon>Rechazar
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="this.clientes.length == 0" class="ion-card-style" >
    <ion-card-content class="texto-card">
      No hay clientes en la lista.<br>
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="!this.esMozo"  padding [ngClass]="misClases">
  <div *ngIf="this.clientes.length> 0">
        <div *ngFor="let cliente of clientes">
        <ion-card class="ion-card-style">
          <ion-card-content>
          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Correo</ion-label>
            <ion-input [value]="cliente.correo" readonly></ion-input>
          </ion-item>
          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Perfil</ion-label>
            <ion-input [value]="cliente.perfil" readonly></ion-input>
          </ion-item>
            </ion-card-content>
        </ion-card>
        </div>
  </div>
  <ion-card *ngIf="this.clientes.length == 0" class="ion-card-style">
    <ion-card-content class="texto-card">
      No hay clientes en la lista.<br>
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
