<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      <ion-icon name="list-box"></ion-icon>Lista de Espera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.esMozo">
  <div *ngIf="this.clientes.length> 0">
    <ion-card  style="background-color:whitesmoke; border-radius: 50px;">
      <ion-card-content>
        <div *ngFor="let cliente of clientes">

          <ion-item class="item2">
            <ion-label class="label-verde">Correo</ion-label>
            <ion-input [value]="cliente.correo" readonly></ion-input>
          </ion-item>

          <ion-item class="item2">
            <ion-label class="label-verde">Perfil</ion-label>
            <ion-input [value]="cliente.perfil" readonly></ion-input>
          </ion-item>

          <div class="width-100 center-horizontal center-vertical" style="background: whitesmoke;">
            <ion-button class="boton-info"
              (click)="this.mostrarCliente(cliente)">
              <ion-icon name="add"></ion-icon>Info
            </ion-button>
          </div>
          <div class="width-100 center-horizontal" style="background: whitesmoke;">
            <ion-button class="boton-confirmar"
              (click)="this.confirmarCliente(cliente.correo)">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>Confirmar
            </ion-button>
            <ion-button class="boton-denegar"
              (click)="this.rechazarCliente(cliente.correo)">
              <ion-icon slot="icon-only" name="close"></ion-icon>Rechazar
            </ion-button>
          </div> 
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="this.clientes.length == 0" style="background-color:whitesmoke; border-radius: 50px;">
    <ion-card-content class="texto-card">
      No hay clientes en la lista.
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon><br>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="!this.esMozo">
  <div *ngIf="this.clientes.length> 0">  
        <div *ngFor="let cliente of clientes">
        <ion-card style="background-color:whitesmoke; border-radius: 50px; width: 80%;margin-left: auto;margin-right: auto;">
          <ion-card-content>
          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Correo</ion-label>
            <ion-input [value]="cliente.correo" readonly></ion-input>
          </ion-item>
          <ion-item class="item2">
            <ion-label class="label-verde" position="floating">Perfil</ion-label>
            <ion-input [value]="cliente.perfil" readonly></ion-input>
          </ion-item>
            </ion-card-content>
        </ion-card>
        </div>  
  </div>
  <ion-card *ngIf="this.clientes.length == 0" style="background-color:whitesmoke; border-radius: 50px;">
    <ion-card-content class="texto-card">
      No hay clientes en la lista.
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon><br>
    </ion-card-content>
  </ion-card>
</ion-content>