<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="light" size="small" (click)="this.enviarEncuesta()">Enviar</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button color="light" size="small" (click)="this.cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image ion-padding">
  <!-- <ion-card *ngIf="this.user !== undefined" class="card-background"> -->
  <ion-card *ngIf="this.user !== undefined" style="background-color:rgba(255, 255, 255, 0.8);">
    <ion-card-header>
      <ion-card-title>Detalles del {{this.tipo | titlecase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="itemc2">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [value]="user.nombre | titlecase" readonly></ion-input>
      </ion-item>

      <ion-item class="itemc2">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [value]="user.apellido | titlecase" readonly></ion-input>
      </ion-item>

      <ion-item class="itemc2" *ngIf="this.tipo === 'empleado'">
        <ion-label position="floating">CUIL</ion-label>
        <ion-input [value]="user.CUIL" readonly></ion-input>
      </ion-item>

      <ion-item class="itemc2">
        <ion-label position="floating">DNI</ion-label>
        <ion-input [value]="user.DNI" readonly></ion-input>
      </ion-item>

      <ion-item class="itemc2" *ngIf="this.tipo === 'empleado'">
        <ion-label position="floating">Puesto</ion-label>
        <ion-input [value]="user.tipo | titlecase" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Range para el nivel de puntualidad del empleado -->
  <form [(formGroup)]="this.formEncuesta">
    <!-- <ion-card *ngIf="this.user !== undefined" class="card-background"> -->
    <ion-card *ngIf="this.user !== undefined" style="background-color:rgba(255, 255, 255, 0.8);">
      <ion-card-content>
        <ion-item-group *ngIf="this.tipo === 'empleado'">
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Puntualidad</h6>
          </ion-item-divider>
          <ion-item class="itemc">
            <ion-select formControlName="puntualidadCtrl" value="puntual">
              <ion-select-option value="puntual" selected>Puntual</ion-select-option>
              <ion-select-option value="leve">Leve Retraso</ion-select-option>
              <ion-select-option value="impuntual">Siempre impuntual</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- Range para el nivel de cantidad de comenzales del cliente -->
        <ion-item-group *ngIf="this.tipo === 'cliente'">
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Cant. de Comensales</h6>
          </ion-item-divider>
          <ion-item class="itemc">
            <ion-select formControlName="cantComensalesCtrl" value=1>
              <ion-select-option value=1 selected>Solo</ion-select-option>
              <ion-select-option value=2>Dos personas o mas</ion-select-option>
              <ion-select-option value=3>Tres personas o mas</ion-select-option>
              <ion-select-option value=4>Grupo Familiar (Cuatro personas o
                mas)</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

        <!-- Range para el nivel de valoracion entre 1 y 10 de ambos -->
        <ion-item-group>
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Valoración</h6>
          </ion-item-divider>
          <ion-item class="itemc">
            <ion-range color="dark" min="1" max="10" ticks="true" snaps="true"
              formControlName="valoracionCtrl">
              <ion-label slot="start">1</ion-label>
              <ion-label slot="end">10</ion-label>
            </ion-range>
          </ion-item>
        </ion-item-group>

        <!-- Radio para elegir si recomendaria el empleado -->
        <ion-item-group *ngIf="this.tipo === 'empleado'">
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Recomendado</h6>
          </ion-item-divider>
          <!-- formControlName="recomendacionCtrl" -->
          <ion-radio-group
            (ionChange)="mapRadioToFormValueRecomendacion($event)">
            <ion-item class="itemc">
              <ion-label>Sí</ion-label>
              <ion-radio slot="start" value="true"></ion-radio>
            </ion-item>
            <ion-item class="itemc">
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="false"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item-group>

        <!-- Radio para elegir la frequencialidad de cliente -->
        <ion-item-group *ngIf="this.tipo === 'cliente'">
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Cliente frequente</h6>
          </ion-item-divider>
          <!-- formControlName="frequenciaCtrl" -->
          <ion-radio-group (ionChange)="mapRadioToFormValueFrequencia($event)">
            <ion-item class="itemc">
              <ion-label>Sí</ion-label>
              <ion-radio slot="start" value="true"></ion-radio>
            </ion-item>
            <ion-item class="itemc">
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="false"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item-group>

        <!-- Textarea adicional para comentarios de ambos-->
        <ion-item-group>
          <ion-item-divider class="tabla1">
            <h6 class="tabla1-cont">Comentarios</h6>
          </ion-item-divider>
          <ion-item class="itemc">
            <ion-textarea class="textArea1" formControlName="comentarioCtrl"></ion-textarea>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>