.spinner-text {
  background: white;
  padding: 1rem 1rem !important;
  border: solid white 0.5rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.profile-img{
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}
