<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button color="light" size="small" (click)="cerrarSesion()">
        <ion-icon name="power" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{(this.authService.tipoUser == '' ? "..." : this.authService.tipoUser) |
      titlecase}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" size="small" (click)="this.configModal()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="this.authService.tipoUser == ''"
    class="width-100 center-horizontal center-vertical flex-v spinner-text">
    Espere...
    <ion-spinner color="dark"></ion-spinner>
  </div>

  <!-- Para el dueño / supervisor -->
  <div *ngIf="this.authService.tipoUser == 'supervisor' ||
    this.authService.tipoUser == 'dueño'"
    class="width-100 center-horizontal flex-wrap">
    <ion-button class="button1" routerLink="/registro-empleado" size="large">
      Registrar Empleado
    </ion-button>
    <ion-button class="button1" routerLink="/encuesta-sup" size="large">
      Encuesta
    </ion-button>
    <ion-button class="button1" routerLink="/list-confirmar-cliente-alta" size="large">
      Confirmación de Clientes
    </ion-button>
    <ion-button class="button1" routerLink="/list-confirmar-cliente-mesa" size="large">
      Lista de Espera
    </ion-button>
    <ion-button class="button1" routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button class="button1" routerLink="/confirmar-cierre-mesa" size="large">
      Cierre de Mesas
    </ion-button>
  </div>

  <!-- Para cocinero, bartender, candybar -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.authService.tipoUser == 'cocinero' ||
    this.authService.tipoUser == 'candybar' ||
    this.authService.tipoUser == 'bartender'">
    <ion-button class="button1" routerLink="/abm-producto" size="large">
      Registrar Producto
    </ion-button>
    <ion-button class="button1" routerLink="/encuesta-empleado" size="large">
      Encuesta
    </ion-button>
    <ion-button class="button1" routerLink="/list-pedidos-detalle" size="large">
      Pedidos Pendientes
    </ion-button>
  </div>

  <!-- Para el mozo -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.authService.tipoUser == 'mozo'">
    <ion-button class="button1" routerLink="/abm-producto" size="large">
      Registrar Producto
    </ion-button>
    <ion-button class="button1" routerLink="/abm-mesa" size="large">
      Registrar Mesas
    </ion-button>
    <ion-button class="button1" routerLink="/encuesta-empleado" size="large">
      Encuesta
    </ion-button>
    <!-- <ion-button routerLink="/qr-ingreso-local" size="large">
      Ingreso al Local
    </ion-button> -->
    <ion-button class="button1" routerLink="/list-confirmar-cliente-mesa" size="large">
      Lista de Espera
    </ion-button>
    <ion-button class="button1" routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button class="button1" routerLink="/list-confirmar-pedido" size="large">
      Confirmación de Pedidos
    </ion-button>
    <ion-button class="button1" routerLink="/confirmar-entrega-mozo" size="large">
      Confirmar Entrega Mozo
    </ion-button>
    <ion-button class="button1" routerLink="/confirmar-cierre-mesa" size="large">
      Cierre de Mesas
    </ion-button>
  </div>

  <!-- Para el cliente -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.authService.tipoUser == 'cliente' ||
    this.authService.tipoUser == 'anonimo'">
    <ion-button class="button1" routerLink="/qr-ingreso-local" size="large">
      Ingreso al Local
    </ion-button>
    <ion-button class="button1" routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button class="button1" routerLink="/generar-pedido" size="large">
      Generar Pedido
    </ion-button>
    <ion-button class="button1" routerLink="/confirmar-entrega" size="large">
      Confirmar Entrega
    </ion-button>
  </div>
</ion-content>
