<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Registro de Clientes
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <div [hidden]="ocultarSeccion0">
        <ion-button class="button1" (click)="ElegirCliente('cliente')"expand="block">
            Registrarme como cliente
        </ion-button>
        <ion-button class="button1" (click)="ElegirCliente('anonimo')"expand="block">
            Registrar como anonimo
        </ion-button>
    </div>

    <div [hidden]="ocultarSeccion1" class="ion-no-padding">
        <ion-card class="card-background" style="background-color:rgba(255, 255, 255, 0.8);">
            <ion-card-content>
                <div class="width-100 center-horizontal center-vertical">
                    <img class="profile-picture" src="assets/img/add_user.png">
                </div>

                <ion-item class="itemc">
                    <ion-label position="floating">Correo</ion-label>
                    <br>
                    <ion-input class="inputhis" type="text"
                        [(ngModel)]="usuario.correo"
                        placeholder="algo@algo.com"></ion-input>
                </ion-item>

                <ion-item class="itemc">
                    <ion-label position="floating">Clave</ion-label>
                    <br>
                    <ion-input class="inputhis" type="password"
                        [(ngModel)]="clave"
                        placeholder="Mínimo de 6 caracteres"></ion-input>
                </ion-item>

                <ion-item class="itemc">
                    <ion-label position="floating">Nombre</ion-label>
                    <br>
                    <ion-input class="inputhis" type="text" [(ngModel)]="usuario.nombre"></ion-input>
                </ion-item>

                <ion-item class="itemc" [hidden]="!esCliente">
                    <ion-label position="floating">Apellido</ion-label>
                    <br>
                    <ion-input class="inputhis" type="text" [(ngModel)]="usuario.apellido"></ion-input>
                </ion-item>

                <ion-item class="itemc" [hidden]="!esCliente">
                    <ion-label position="floating">DNI</ion-label>
                    <br>
                    <ion-input class="inputhis" type="number" [(ngModel)]="usuario.DNI"></ion-input>
                </ion-item>

                <div [hidden]="!esCliente"
                    class="width-100 center-horizontal center-vertical">
                    <ion-button class="button1" (click)="EscanearDNI()">Escanear DNI</ion-button>
                </div>
                <div class="width-100 center-horizontal center-vertical">
                    <ion-button class="button1" (click)="ValidarRegistro()">Registrar</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div [hidden]="ocultarSeccion2" class="width-100 center-horizontal">
        <ion-button class="button1" (click)="SacarFoto()">Sacar foto</ion-button>
        <ion-button class="button1" (click)="SinFoto()">Sin foto</ion-button>
    </div>

    <div [hidden]="ocultarSeccion1" class="width-100 center-horizontal">
        <ion-button class="button1" (click)="RellenarDatos()">Rellenar</ion-button>
    </div>
    <div [hidden]="ocultarSeccion1" class="width-100 center-horizontal center-vertical">
        <ion-button class="button1" (click)="Volver()">Volver</ion-button>
    </div>
</ion-content>