.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: center;
    height: 250px;
    width: 250px;
}
.titulo{
    color: black;
    text-align: center;
} 
.registro{
    text-align: center;
}
.registro-link{
    font-family: 'Roboto BlackItalic';
    font-size: 25px;
    color:#607985;
}
.inputs{
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    border: 3px solid #607985;
    --background: transparent !important;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 250px;
    height: 60px;
    margin-bottom: 15px;
    color: black;
    --highlight-height:0;
}
.ingresar{
    color: black;
    --border-radius: 80px;
    width: 150px;
    height: 50px;
    //--border-style: 3px solid #546e7a;   
    --background: transparent !important;
    --background-activated:#339933; 
    --border-color:#339933;
    --background-hover:#339933;
    --background-focused: #339933;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 15px;
}
.seleccionar-usuario{
    color: black;
    --border-radius: 80px;
    width: 230px;
    height: 40px;
    //--border-style: 3px solid #546e7a;   
    --background: transparent !important;
    --background-activated:#339933; 
    --border-color:#339933;
    --background-hover:#339933;
    --background-focused: #339933;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 15px;
}