<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons  slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      Ingreso al Local con QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="center-vertical center-horizontal width-100 height-100 ">
    <div (click)="doScan()" class="flex-v border center-vertical">
      <img class="qr-img" src="assets/img/QR_code_Wikipedia.svg">
      <span class="qr-text">Escanear QR</span>
    </div>
  </div>
</ion-content>