<ion-header>
  <ion-toolbar color="verdeleon">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="inicio"></ion-back-button>
      </ion-buttons>
      <ion-title class="titulo-header">
        <!-- <ion-icon name="add-circle"></ion-icon> -->
        Registro de Empleado
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image" no-scroll padding [ngClass]="misClases">

    <div [hidden]="ocultarSpinner" class="divSpinner">
            <table class="tableSpinner">
                <tr>
                    <img class="hided" src="assets/img/hided.png">
                </tr>
                <tr>
                    <img src="assets/img/preloader.gif">
                </tr>

            </table>

        </div>

    <div [hidden]="ocultarSeccion1">
        <div class="width-100 center-horizontal center-vertical">
            <img class="profile-img" src="assets/icon/nuevo-usuario.png">
        </div>
        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Correo</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.correo" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Contraseña</ion-label>
            <ion-input  type="password" [(ngModel)]="clave"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Confirmar contraseña</ion-label>
            <ion-input  type="password" [(ngModel)]="confirmarClave"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Perfil</ion-label>
            <ion-select [(ngModel)]="usuario.tipo" class="selecter">
                <ion-select-option *ngFor="let perfil of listaPerfil" [value]="perfil">
                    {{perfil}}
                </ion-select-option>
                </ion-select>
        </ion-item >

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">Apellido</ion-label>
            <ion-input  type="text" [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">DNI</ion-label>
            <ion-input  type="number" [(ngModel)]="usuario.DNI"></ion-input>
        </ion-item>

        <ion-item class="inputs">
            <ion-label style="color: black" position="floating">CUIL</ion-label>
            <ion-input  type="text" [(ngModel)]="usuario.CUIL"></ion-input>
        </ion-item>
        <ion-button  (click)="EscanearDNI()" class="botones-registro">
            <ion-icon name="qr-scanner"></ion-icon>Escanear DNI
        </ion-button>
        <div class="width-100 center-horizontal">
            <ion-button  (click)="RellenarDatos()"  class="botones-registro">Completar campos</ion-button>
        </div>
        <ion-button  class="botones" (click)="ValidarRegistro()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>Registrar
        </ion-button>

    </div>
    <div [hidden]="ocultarSeccion2" class="width-100 height-100 margin-top-9">
        <ion-button expand="block" class="botones-grandes" (click)="SacarFoto()" >
            Tomar foto
        </ion-button>
        <ion-button expand="block" class="botones-grandes" (click)="SinFoto()" >
            Sin foto
        </ion-button>
    </div>

    <!-- <div [hidden]="ocultarSeccion2">
        <ion-button  class="botones-registro" (click)="SacarFoto()" style="width: 100%; height: 60px;">
            Tomar foto</ion-button>
    </div>
    <div [hidden]="ocultarSeccion2">
        <ion-button  class="botones-registro" (click)="SinFoto()" style="width: 100%; height: 60px;">
            Sin foto</ion-button>
    </div> -->

  </ion-content>
