
.botonesRojo{
    color: black;
    --border-radius: 80px;
    width: 200px;
    height: 50px;
    --border-color: #a04743;
    --border-width: 1px;
    --border-style:  solid ;
    --background: #f5d5d4 !important;
    --background-activated:#a04743;
    --border-color:#a04743;
    --background-hover:#a04743;
    --background-focused: #a04743;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: unset;;
    font-size: medium;
}


.bolded
{
    font-weight: bold;
    // color: rgb(0, 0, 0);

}
