<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">
      <ion-icon name="checkbox-outline"></ion-icon>Confirmar pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.pedidos.length> 0" style="background-color:whitesmoke;text-align: center; border-radius: 20px;">
    <ion-card-content>
      <div class="ion-no-padding transparent-item flex-v" *ngFor="let pedido of
        pedidos">
        <div class="width-100 align-text-center big-letter"  style="background: whitesmoke;">
          <label class="bolded">
            Mesa {{pedido.mesa}}
         </label>
      </div>
      <div class="width-100 center-horizontal center-vertical" style="background: whitesmoke;">
          <ion-button class="botones-registro"
            (click)="this.verPedido(pedido.key)">
            Ver
          </ion-button>
        </div>

        <div class="width-100 center-horizontal" style="background: whitesmoke;">
          <ion-button class="botones-registro"
            (click)="aceptarPedido(pedido.key)">
            <ion-icon slot="icon-only" name="checkmark" style="font-weight: bold;"></ion-icon>
          </ion-button>
          <ion-button class="botonesRojo"
            (click)="rechazarPedido(pedido.key, pedido.mesa)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.pedidos.length == 0" style="background-color:whitesmoke; border-radius: 20px;">
    <ion-card-content class="texto-card">
      No hay pedidos para confirmar.<br>
      <ion-icon style="font-size: 50px;" name="alert"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
