<ion-header>
  <ion-toolbar color="verdeleon">
    <ion-buttons slot="end">
      <ion-button color="dark" size="small" (click)="cerrar()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="titulo-header">
        Detalles Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  style="background-color:whitesmoke;border-radius: 20px;" *ngIf="this.pedidoActual != undefined">
    <ion-card-content>
      <ion-item class="item2">
        <ion-label class="label-verde">Cliente</ion-label>
        <ion-input [value]="this.pedidoActual.cliente" readonly></ion-input>
      </ion-item>
      <ion-item class="item2">
        <ion-label class="label-verde">Mesa</ion-label>
        <ion-input [value]="this.pedidoActual.mesa" readonly></ion-input>
      </ion-item>
      <ion-item class="item2">
        <ion-label class="label-verde">Fecha</ion-label>
        <ion-input [value]="this.pedidoActual.fecha | date:'dd/MM/yyyy'" readonly></ion-input>
      </ion-item>
      <ion-item class="item2">
        <ion-label class="label-verde">Hora</ion-label>
        <ion-input [value]="this.pedidoActual.fecha | date:'HH:mm'" readonly></ion-input>
      </ion-item>
      <ion-item class="item2">
        <ion-label class="label-verde">Estado</ion-label>
        <div *ngIf="this.pedidoActual.estado=='creado'">
          <ion-input  value="Esperando a ser aceptado"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='aceptado'">
          <ion-input  value="Aceptado por el mozo"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='listoEntrega'">
          <ion-input  value="Listo para ser entregado"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='entregadoMozo'">
          <ion-input  value="Entregado por el mozo"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='entregado'">
          <ion-input  value="Entregado"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='cuenta'">
          <ion-input  value="Cuenta pedida"></ion-input>
        </div>
        <div *ngIf="this.pedidoActual.estado=='finalizado'">
          <ion-input  value="Finalizado"></ion-input>
        </div>
        
      </ion-item>

      <table class="table1">
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Estado</th>
        </tr>
        <tr *ngFor="let producto of pedidoDetalle">
          <td>({{ producto.cantidad }}) {{ producto.producto }}</td>
          <td >
            <div *ngIf="this.verCuenta == false">
              <!-- <label > -->
                {{(producto.cantidad * producto.precio) | currency}}
              <!-- </label> -->
            </div>
            <div *ngIf="this.verCuenta == true">
              <!-- <label > -->
                {{producto.precio | currency}}
              <!-- </label> -->
            </div>
          </td>
          <td>
            <div *ngIf="this.verCuenta == false ">
              <label *ngIf="producto.estado=='creado'">
                Esperando a <br>ser aceptado
              </label>
              <label *ngIf="producto.estado=='aceptado'">
                  Aceptado <br>por el mozo
              </label>
              <label *ngIf="producto.estado=='preparacion'">
                  En preparación
              </label>
              <label *ngIf="producto.estado=='listoEntrega'">
                  Listo para<br> entregar
              </label>
            </div>
            <div *ngIf="this.verCuenta == true">
              <!-- <label > -->
                {{(producto.cantidad * producto.precio) | currency}}
              <!-- </label> -->
            </div>
          </td>
        </tr>
      </table>
      <div style="font-size:22px;color:black;" *ngIf="arrayDecuentos.length > 0">
          Descuentos!
      </div>
      <table class="table1">
        <tr *ngFor="let producto of arrayDecuentos">
          <td>({{ producto.cantidad }}) {{ producto.producto | titlecase}}</td>
          <td class="ion-padding">
            <div *ngIf="this.verCuenta == false">
              <label >
                -{{(producto.cantidad * producto.precio) | currency}}
              </label>
            </div>
            <div *ngIf="this.verCuenta == true">
              <label >
                -{{producto.precio | currency}}
              </label>
            </div>
          </td>
          <!-- <td>
            <div *ngIf="this.verCuenta == false">
              <label >
                {{producto.estado | titlecase}}
              </label>
            </div>
            <div *ngIf="this.verCuenta == true">
              <label >
                {{(producto.cantidad * producto.precio) | currency}}
              </label>
            </div>
          </td> -->
        </tr>
      </table>

      <ion-item class="item2">
        <ion-label style="font-size: 22px;font-weight: bold;text-align: left;"
         class="label-verde">Total</ion-label>
        <ion-input [value]="(this.manejarPrecioDescuento()) | currency" 
        style="font-size: 22px;font-weight: bold;text-align: right;" readonly></ion-input>
      </ion-item>

      <div *ngIf="this.verCuenta == false">
        <ion-button class="button2" (click)="this.crearCuenta()" expand="block"
          [disabled]="this.pedidoActual == undefined ||
          (this.pedidoActual.estado != 'comiendo' &&
          this.pedidoActual.estado != 'cuenta' &&
          this.pedidoActual.estado != 'entregado') ||
          this.cliente == false">
          <ion-icon name="checkmark-circle-outline"></ion-icon>Pedir / Ver Cuenta
        </ion-button>
      </div>

      <div *ngIf="this.verCuenta == true">
        <ion-item class="item2">
          <ion-label>Propina</ion-label>
          <ion-input [value]="(this.pedidoActual.propina /100) | percent"
            readonly></ion-input>
          <ion-button slot="end" color="violetaleon" (click)="cambiarPropina()"
            [disabled]="this.pedidoActual.estado != 'cuenta' ||
            this.cliente == false">Escanear</ion-button>
        </ion-item>
        <!-- <ion-item class="item2">
          <ion-label>Total</ion-label>
          <ion-input style="text-align: right;" [value]="this.pedidoActual.preciototal | currency"
            readonly></ion-input>
        </ion-item> -->
        <ion-item class="item2">
          <ion-label class="label-verde" style="font-size: 22px;font-weight: bold;text-align: left;">
            Total + Propina</ion-label>
          <ion-input readonly style="font-size: 22px;font-weight: bold;text-align: right;"
            [value]="(this.manejarPrecioPropina()) | currency"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="this.pedidoActual == undefined" style="background-color:whitesmoke;border-radius: 20px;">
    <ion-card-content>
      Usted aún no ha realizado ningún pedido.
    </ion-card-content>
  </ion-card>
</ion-content>
