.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: center;
    height: 250px;
    width: 250px;
}

.titulo{
    color: black;
    text-align: center;
}
.registro{
    text-align: center;
}
.registro-link{
    font-family: 'Roboto BlackItalic';
    font-size: 2em;
    color:#43a047;//607985
}
